html {
  position: relative;
  width: 375px;
  height: 6715px;
  background: #fff;
}

body {
  width: 375px;
}

/*
h2,
h1 {
  font-size: 3.4em;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0.2em;
  text-align: center;
}
h4 {
  width: 295px;
  height: 57px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
header a {
  width: 90px;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #28352f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

p {
 font-size: 1.7em;
  font-weight: 400;
  line-height: 28px;
  text-align: center;

}

li {
  list-style: none;
}

ul {
  display: flex;
  padding: 0;
}
*/
header a {
  width: 90px;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #28352f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

li {
  list-style: none;
}

ul {
  display: flex;
  padding: 0;
}

/* Classes */

.head {
  width: 375px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  left: 12px;
  top: calc (50% - 48px/2);
  margin: 0;
  text-decoration: none;
}

.head img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc (50% - 40px/2);
  border-radius: 8px;
}

.union {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 726px;
  left: 0;
  top: 92px;
  background-image: url(images/header-illsutration-mobile@2x.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.primary_txt {
  width: 327px;
  height: 192px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_color {
  color: #172b4d;
}

.bottom_color {
  color: #36b37e;
}

.supportive_txt {
  display: flex;
  width: 327px;
  height: 164px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

.social_icon_container {
  width: 170.17px;
  height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_icon_container ul {
  position: absolute;
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
}

.twitter {
  /* position: absolute; */
  left: 27.31%;
  right: 67.36%;
  top: 73.83%;
  bottom: 23.42%;
  background: #fff;
}

.github {
  /* position: absolute; */
  left: 59.04%;
  right: 36.16%;
  top: 73.83%;
  bottom: 23.42%;
  background: #fff;
}

.linkedin {
  /* position: absolute; */
  left: 37.71%;
  right: 56.96%;
  top: 73.83%;
  bottom: 23.42%;
  background: #fff;
}

.medium {
  /* position: absolute; */
  left: 48.38%;
  right: 46.29%;
  top: 74.1%;
  bottom: 23.69%;
  background: #fff;
}

.angellist {
  /* position: absolute; */
  left: 68.91%;
  right: 27.31%;
  top: 73.83%;
  bottom: 23.42%;
  background: #fff;
}

/* .social-icon {
  flex-direction: column;
  fill: #505f79;
  padding-left: 1.6em;
  width: 2em;
}
.scroll {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px/2 + 0.5px);
    bottom: 4px;
    border: 1px solid #dfe1e6;
    border-radius: 32px;
} */
.action {
  width: 327px;
  height: 48px;
  flex: none;
  order: 3;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal_button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  left: calc (50% - 40px / 2 + 0.5px);
  background: #fff;
  border-radius: 32px;
}

.recent_works {
  display: grid;
  grid-template-columns: 379px;
  grid-template-rows: 97px 4px repeat(6, 474px);
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  width: 379px;
  height: 3283px;
  left: 0;
  top: 708px;
  justify-content: end;
}

.primary_txt_R {
  grid-row: 1;

  /* width: 327px;
  height: 97px; */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.indicator {
  grid-row: 2;
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: auto;
}

.card_Work_Row_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 2px;
  gap: 24px;
  width: 331px;
  height: 2972px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card {
  grid-row: 3;
  width: 327px;
  height: 474px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  position: absolute;

  /* width: 327px;
  height: 222px; */
  left: calc (50% - 327px / 2);
  bottom: 0;
  background: #fff;
  border-radius: 8px;
}

.project_title {
  width: 295px;
  height: 57px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;

  /* width: 305px; */
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: 103px;
  height: 32px;
  background: #EBF0EE;
  border-radius: 4PX;
  flex: none;
  order: 0;
  flex-grow: 0;
} */
.tag1 {
  width: 79px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag2 {
  width: 21px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag3 {
  width: 58px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag4 {
  width: 27px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.img_placeholder {
  width: 327px;
  height: 474px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.action1 {
  /* width: 305px; */
  height: 69px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  left: calc (50% - 122px / 2 + 0.5px);
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
}

.btx1 {
  width: 98px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.image_placeholder_card {
  width: 327px;
  height: 474px;

  /* left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px; */
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  position: absolute;
}

.about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 1625px;
  left: 0;
  top: 3927px;
  background-image: url(images/illustration-\ about\ me-\ mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 351px;
  height: 333px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.primary_txt_2 {
  width: 351px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.supportive_txt_2 {
  display: flex;
  width: 351px;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.buttonA {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
  flex: none;
  order: 2;
  flex-grow: 0;
}

button:hover {
  background-color: hsl(135, 95%, 46%);
  color: white;
}

.btx {
  width: 135px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cardA {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  gap: 24px;
  width: 327px;
  height: 1106px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card_works {
  width: 327px;
  height: 352px;
  flex: none;
  flex-grow: 0;
  align-items: flex-end;
}

.card_works_A {
  width: 327px;
  height: 352px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title_tag_A {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  position: absolute;
  width: 327px;
  height: 96px;
  left: 40px;
  bottom: 72px;
  top: 600px;
}

.txt1 {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;

  /* width: 271px; */
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tag21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 89px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.txt5 {
  width: 65px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 55px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.txt2 {
  width: 31px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag23 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 53px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.txt3 {
  width: 29px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag24 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 50px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.txt4 {
  width: 26px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icons {
  position: absolute;
  width: 327px;
  height: 128px;
  left: 50px;

  /* top: 16px; */
}

.icon_lang {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 124px;
  top: 24px;
}

.img_placeholder_A {
  width: 327px;
  height: 352px;
  box-sizing: border-box;

  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.card_works_B {
  width: 327px;
  height: 352px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.title_tag_B {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  position: absolute;
  width: 327px;
  height: 144px;
  left: 40px;
  bottom: 72px;
  top: 920px;
}

.frame_19 {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 266px;
  height: 88px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.txt30 {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 266px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 172px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag31 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 84px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.txt31 {
  width: 60px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag32 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 103px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.txt32 {
  width: 79px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag33 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 63px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.txt33 {
  width: 39px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag34 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 83px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.txt34 {
  width: 59px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag35 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 81px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.txt35 {
  width: 57px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icons_A {
  position: absolute;
  width: 327px;
  height: 128px;
  left: 50px;

  /* top: 16px; */
}

.icon_lang_A {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 124px;
  top: 24px;
}

.img_placeholder_B {
  width: 327px;
  height: 352px;
  box-sizing: border-box;

  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.card_work-C {
  width: 327px;
  height: 352px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.title_tag_C {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  position: absolute;
  width: 327px;
  height: 144px;
  left: 40px;
  bottom: 24px;
  top: 1320px;
}

.txt1_C {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 303px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 77px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag41 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 72px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.txt41 {
  width: 48px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag42 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 67px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.txt42 {
  width: 43px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag43 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 79px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.txt43 {
  width: 55px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag44 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 61px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.txt44 {
  width: 53px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tag45 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 77px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.txt45 {
  width: 53px;
  height: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icons_S {
  position: absolute;
  width: 327px;
  height: 128px;
  left: 50px;

  /* top: 16px; */
}

.icon_lang_S {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 124px;
  top: 24px;
}

.img_placeholder_C {
  width: 327px;
  height: 352px;
  box-sizing: border-box;

  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 879px;
  left: 0;
  top: 5483px;
}

.txtF {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 363px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.primary_txt_F {
  width: 327px;
  height: 363px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}
