html {
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  position: relative;
  width: 375px;
  /*height: 6715px;*/
  background: #ffffff;
}

body {
  width: 375px;
}

h2,
h1 {
  font-size: 3.4em;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0.2em;
  text-align: center;
}
h4 {
  width: 295px;
  height: 57px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
header a {
  width: 90px;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #28352f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

p {
 /* font-size: 1.7em;*/
  font-weight: 400;
  line-height: 28px;
  text-align: center;
 
}

li {
  list-style: none;
}

ul {
  display: flex;
  padding: 0;
}

/* Classes */

.head {
  width: 375px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  left: 12px;
  top: calc (50% - 48px/2);
  margin: 0;
  text-decoration: none;
}

.head img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc (50% - 40px/2);
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  left: 0;
  top: 92px;
  background-image: url(images/header-illsutration-mobile@2x.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.primary_txt {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 192px;
  top: 64px;
  font-style: normal;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.top_color {
  color: #172b4d;
}

.bottom_color {
  color: #36b37e;
}

.supportive_txt {
  display: flex;
  width: 327px;
  height: 164px;
  font-style: normal;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social_icon_container {
  display: flex;
  justify-content: center;
  order: 2;
  flex-grow: 0;
}

.social-icon {
  flex-direction: column;
  fill: #505f79;
  padding-left: 1.6em;
  width: 2em;
}
.scroll {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px/2 + 0.5px);
    bottom: 4px;
    border: 1px solid #dfe1e6;
    border-radius: 32px;
}
.union {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.recent_works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px;
    gap: 58px;
    position: absolute;
    width: 379px;
    height: 3283px;
    left: 0px;
    top: 708px;
}
.indicator {
    width: 48px;
    height: 4px;
    background: #36B37E;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: auto;
}
.card_Work_Row_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 2px;
    gap: 24px;
    width: 331px;
    height: 2972px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.card {
    width: 327px;
    height: 474px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  /*position: absolute;*/
  width: 327px;
  height: 222px;
  left: calc(50% - 327px/2);
  bottom: 0px;
  background: #ffffff;
  border-radius: 8px;
}
.project_title {
  width: 295px;
  height: 57px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  /*width: 305px;*/
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  
  width: 103px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  
  width: 45px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  
  width: 82pxpx;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.tag4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  
  width: 51px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 3;
  flex-grow: 0;
}
.img_placeholder {
  width: 327px;
  height: 474px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}
.action {
  /*width: 305px;*/
  height: 69px;
  flex: none;
  order: 2;
  flex-grow: 0;
 
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  /*position: absolute;
  width: 122px;*/
  height: 48px;
  left: calc(50% - 122px/2 + 0.5px);
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  border-style: none;

}
.about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 1625px;
  left: 0px;
  top: 3927px;
}
.supportive_txt_2 {
  width: 351px;
  height: 189px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  /*position: absolute;*/
  width: 351px;
  height: 333px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.primary_txt_2 {
  display: flex;
  flex-direction: column;
  width: 351px;
  height: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: 52px;
  text-align: center;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.btx {
  
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  gap: 24px;
  width: 327px;
  
  flex: none;
  order: 1;
  flex-grow: 0;
}
.card_works {
  width: 327px;
  height: 352px;
  flex: none;
  flex-grow: 0;
}
.title_tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 327px;
  height: 96px;
  left: calc(50% - 327px/2);
  bottom: 72px;
}
.title_tag p {
  width: 337px;
  height: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}